[bumpversion]
current_version = 0.1.14
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:mlops/active_learning/active_learning_seedlings/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_recipes/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:data_engineering/image_preprocessing/image_metadata_enrichment/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:data_engineering/pdf_preprocessing/pii_anonymizer/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:data_engineering/data_indexing_for_clustering/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_nim_bank_mortgage/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_nim_bank_mortgage/preprocess_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_nim_bank_mortgage/retrieval_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_openai_transactions/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_openai_transactions/preprocess_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_openai_transactions/retrieval_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/vss/vss_solution_nim/preprocess_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/vss/vss_solution_nim/retrieval_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/vss/vss_solution_nim/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_clip_ollama_contracts/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_clip_ollama_contracts/preprocess_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_clip_ollama_contracts/retrieval_pipeline_solution/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

