[bumpversion]
current_version = 0.1.5
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:mlops/active_learning/active_learning_seedlings/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:genai/rag/rag_solution_recipes/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:data_engineering/image_preprocessing/image_metadata_enrichment/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:data_engineering/pdf_preprocessing/pii_anonymizer/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:data_engineering/data_indexing_for_clustering/dataloop.json]
search = "{current_version}"
replace = "{new_version}"